html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.logo {
  width: 100px;
}

.logo-header {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: -50px;
}

a {
  text-decoration: none;
}

.flags {
  text-align: center;
}

.flag {
  width: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 35px;
  color: #252429;
}

h2 {
  text-align: center;
  display: none;
  color: #c9e8fd;
}

h3 {
  text-align: center;
  font-size: 20px;
  color: #252429;
}

h4 {
  text-align: center;
  font-size: 13px;
  color: #252429;
}

p {
  text-align: center;
  font-size: 20px;
  background-color: #252429;
  color: #e5e6ea;
  border-radius: 5px;
}

hr {
  width: 105px;
  align-items: center;
  background-color: #c9e8fd;
  height: 5px;
}

.buttons {
  text-align: center;
  font-family: inherit;
}

.button-1,
.button-2 {
  background-color: #252429;
  color: #e5e6ea;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
}

.parent {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0px 1fr 150px 40px;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

nav,
header,
main,
footer {
  padding: 5px;
  font-size: 20px;
}

nav {
  background-color: #e5e6ea;
  grid-area: nav;
}

header {
  background: url("images/header-foto.jpg") #e5e6ea;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: header;
}

main {
  background-color: #c9e8fd;
  grid-area: main;
}

footer {
  background: url("images/sneeuw2.jpg") #e5e6ea;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: footer;
}

footer p {
  color: #252429;
  text-align: center;
  margin: 0;
  background-color: transparent;
  font-size: 15px;
}

@media (min-width: 768px) {
  .parent {
    grid-template-columns: 180px 1fr;
    grid-template-rows: 400px 1fr 40px;
    grid-template-areas:
      "nav header"
      "nav main"
      "nav footer";
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-header {
    display: none;
  }

  ul {
    color: #252429;
    list-style-type: none;
    margin-top: 20px;
    padding: auto;
    float: right;
  }

  li {
    margin: 0px 20px;
    padding: 0px 20px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    display: block;
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 550px 1fr 40px;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "footer";
  }

  .logo {
    display: inline;
    margin-left: 0;
  }

  ul {
    display: inline;
  }

  li {
    display: inline;
  }
}
